.form-control.is-invalid {
  background-image: none !important;
}

.form-control.is-valid {
  background-image: none !important;
}

.custom-error {
  color: #e7515a;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

.modal-lg {
  max-width: 1000px !important;
}

.error404 {
  background-image: none !important;
}

.error-number {
  color: #3246D3 !important;
}

.feather-12 {
  width: 12px !important;
  height: 12px !important;
}

.feather-14 {
  width: 14px !important;
  height: 14px !important;
}

.feather-16 {
  width: 16px !important;
  height: 16px !important;
}

.feather-18 {
  width: 18px !important;
  height: 18px !important;
}

.feather-20 {
  width: 20px !important;
  height: 20px !important;
}

.feather-24 {
  width: 24px !important;
  height: 24px !important;
}
.font-size-12 {
  font-size: 12px!important;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;

}
.card-watermark {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1;
  opacity: 0.900;
}
.font-size-40 {
  font-size: 40px!important;
}
.p-20 {
  padding: 20px!important;
}
.card-block{
  line-height: 1.67142857!important;
}
.counter-number, .counter-md .counter-number-group {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}

.feather-32 {
  width: 32px !important;
  height: 32px !important;
}

.navbar .navbar-item .nav-item.user-profile-dropdown .dropdown-menu .dropdown-item svg {
  margin-bottom: -5px;
}

#sidebar ul.menu-categories ul.submenu > li a {
  margin-left: 15px;
}

#sidebar ul.menu-categories li.menu > .dropdown-toggle {
  padding: 11px 10px !important;
}

.dataTables_wrapper .dataTables_filter input {
  width: 200px !important;
}

.datatable-action {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.datatable-action li {
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  margin-right: 8px;
}

.datatable-action li a {
  color: #888ea8;
}

.datatable-action li a:hover .fa-pencil {
  color: #3246D3;
}

.datatable-action li a:hover .fa-trash {
  color: #e7515a;
}

.dataTables_wrapper .btn-toolbar {
  float: right;
  margin-top: 6px;
}

.dataTables_wrapper .dataTables_length {
  float: left;
  margin-left: 15px;
  margin-right: 10px;
}

.dataTables_wrapper .dataTables_filter {
  text-align: left !important;
}

.dataTables_wrapper .dataTables_filter svg {
  top: 13px !important;
  width: 16px !important;
}

.dataTables_wrapper .dataTables_filter input {
  height: 38px;
}

.dataTables_wrapper .btn-toolbar .btn-icon {
  border-radius: 50%;
  padding: 8px 12px;
  font-size: 10px !important;
  margin: 0px 3px;
}

.dataTables_wrapper .btn-toolbar .btn:hover,
.btn:focus {
  transform: translateY(0px) !important;
}

.dataTable td a {
  color: #3246D3;
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.table > tbody:before {
  content: none !important;
}

.page-heading {
  padding-left: 29px;
}

.page-heading h4 {
  font-size: 1.5rem;
}

.page-button {
  padding-right: 30px;
}

.border {
  border: 1px solid;
}

.custom-export-btn {
  position: absolute;
  right: 11.5%;
  margin-top: 6px;
  z-index: 99999;
}

.custom-export-btn button {
  padding: 8px 12px;
  font-size: 10px !important;
}

.form-control {
  height: 40px;
  font-size: 14px;
  padding: 8px 15px;
}

.form-control .dropdown-toggle {
  height: 40px !important;
  font-size: 14px !important;
}

.invalid-feedback {
  font-size: 13px;
  font-weight: 600;
}

.textarea-control {
  height: 130px;
}

.textarea-control-custom {
  height: 165px;
}

.form-group select {
  height: auto !important;
}

.form-group .bootstrap-select a.dropdown-item {
  font-size: 14px !important;
}

.form-group .bootstrap-select a.dropdown-item span.dropdown-item-inner:hover {
  background-color: #f1f2f3 !important;
}

.form-group .bootstrap-select a.dropdown-item.active {
  background-color: #f1f2f3 !important;
}

.form-row .has-danger .select-picker {
  margin-bottom: 20px !important;
}

.form-row .has-danger .select-picker .invalid-feedback {
  margin-top: -6px !important;
}

.form-row .has-danger .select-picker .dropdown-toggle {
  border: 1px solid #e7515a !important;
}

.date-picker {
  background-color: transparent !important;
}

.form-control-file {
  border: 1px solid #bfc9d4;
  padding: 1px;
  border-radius: 6px;
  font-size: 14px;
  overflow: hidden !important;
}

.bootstrap-select.btn-group > .dropdown-toggle {
  height: calc(1.4em + 1.4rem + 2px);
  overflow: hidden !important;
}

.row-panel {
  position: relative;
}

.add-more-bt {
  display: inline-flex;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  color: #3246D3;
  font-weight: bold;
}

.remove-block {
  color: red;
  font-size: 16px;
  text-align: right;
  position: absolute;
  top: 45%;
  right: -20px;
  cursor: pointer;
}

.remove-block-edit {
  color: red;
  font-size: 16px;
  text-align: right;
  position: absolute;
  right: -20px;
  cursor: pointer;
  top: 35%;
}

.mandatory-remove {
  left: auto;
  top: 35px;
}

.mandatory-remove-edit {
  color: red;
  font-size: 16px;
  text-align: right;
  position: absolute;
  right: -20px;
  cursor: pointer;
  top: 33%;
  left: auto;
}

.special-remove {
  left: auto;
  right: -2%;
}

.special-remove-edit {
  color: red;
  font-size: 16px;
  text-align: right;
  position: absolute;
  right: -20px;
  cursor: pointer;
  top: 45%;
  left: auto;
  right: -2%;
}

.form-group .download-file a {
  color: #fff;
}

.download-file a {
  color: #fff !important;
}

.input-readonly {
  background-color: #fff !important;
  color: #999 !important;
  border: none !important;
  border-bottom: 1px solid #999 !important;
  border-radius: 0 !important;
  padding-left: 0 !important;
  cursor: text !important;
}

.input-readonly-borderless {
  background-color: #fff !important;
  color: #999 !important;
  border: none !important;
  border-radius: 0 !important;
  padding-left: 0 !important;
  height: auto !important;
  cursor: text !important;
  padding: 0px !important;
}

.input-readonly:focus {
  box-shadow: none !important;
}

.input-readonly-borderless:focus {
  box-shadow: none !important;
}

.input-readonly .bs-caret {
  display: none !important;
}

.input-readonly-borderless .bs-caret {
  display: none !important;
}

.filter-button {
  line-height: 18px;
}

.page-filter {
  width: 97%;
  margin: 20px auto;
}

.input-loading {
  position: absolute;
  bottom: 12px;
  left: 10px;
  z-index: 9;
  width: 95%;
  text-align: center;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.8);
  color: #3b3f5c !important;
  font-size: 14px;
}

.bootstrap-select.btn-group > .dropdown-toggle {
  padding: 8px 15px;
}

.date-picker-input {
  background-color: #fff !important;
}

.nav-pills {
  border-right: 1px solid #e0e6ed;
  padding-right: 10px;
  height: 100%;
}

.nav-pills .nav-link {
  display: inline-flex;
}

.nav-pills .nav-link:hover {
  background-color: rgba(56, 65, 102, 0.2);
}

.nav-pills .nav-link.active {
  background-color: #3246D3;
}

.nav-pills .nav-link i {
  font-size: 16px;
  margin-top: 2px;
  margin-right: 8px;
  color: #3246D3;
}

.nav-pills .nav-link.active i {
  font-size: 16px;
  margin-top: 2px;
  margin-right: 8px;
  color: #fff;
}

.panel-tabs li a {
  padding: 0px 40px;
  text-align: center;
}

.animated-underline-content .nav-tabs .nav-link.active {
  color: #3246D3 !important;
}

.animated-underline-content .nav-tabs .nav-link:before {
  background-color: #3246D3 !important;
}

.rounded-pills-icon .nav-pills {
  border-right: none;
}

.nurse-personal-details-border {
  width: 1px;
  height: 100%;
  text-align: center;
  background: #dee2e6;
  margin: 0px auto;
}

.custom-dropify .dropify-wrapper {
  width: 200px;
  border-radius: 5%;
  margin: 0px auto;
  margin-bottom: 20px;
}

.custom-dropify .dropify-wrapper .dropify-preview .dropify-render img {
  border-radius: 3% !important;
}

.nurse-info {
  margin: 15px;
}

.nurse-info h6 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

.nurse-info span {
  color: #3246D3;
  font-weight: bold;
}

.nurse-info-other {
  margin-top: 15px;
  font-size: 16px;
}

.nurse-info-other label {
  font-size: 16px !important;
}

.nurse-info-other .content {
  color: #000;
  font-weight: bold;
  word-wrap: break-word !important;
}

.nurse-info-other .content a svg {
  margin-right: 5px;
}

.nurse-info-other .content a {
  font-size: 16px;
  text-decoration: underline;
  display: inline-flex;
  margin-top: 3px;
}

.reset-point {
  cursor: pointer;
}

.nurse-info-other .badge {
  font-size: 12px !important;
}

.nurse-profile-bell {
  font-size: 12px !important;
  margin: 4.5px 10px !important;
}

.panel {
  padding: 20px;
}

.panel-border {
  border: 1px solid #bfc9d4;
  border-radius: 6px;
}

.panel .nav-pills {
  border-right: none;
}

.custom-datatable-filter {
  border: 1px solid #e0e6ed;
  padding: 1rem 1rem;
  padding-bottom: 0;
  margin-bottom: 20px;
  border-radius: 6px;
}

.job-nurse-list {
  position: relative;
}

.job-nurse-list .dataTables_filter input {
  margin-left: 0px !important;
}

.nurse-refresh-button {
  margin-top: 35px;
}

.show-block-list {
  position: absolute;
  left: 200px;
  top: 5px;
  z-index: 99;
}

.pricecard-panel {
  padding: 0px 20px;
  border: 1px solid #acb0c3;
  border-radius: 6px;
  position: relative;
  padding-top: 30px;
}

.pricecard-panel-heading {
  position: absolute;
  top: -12px;
  left: 10px;
  padding: 0px 15px;
  font-size: 15px;
  background: #fff;
}

.profile-info {
  margin: 15px;
}

.profile-info h6 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

.profile-info span {
  color: #3246D3;
  font-weight: bold;
}

.profile-info-other {
  margin-top: 15px;
  font-size: 18px;
}

.profile-info-other label {
  font-size: 18px !important;
}

.profile-info-other .content {
  color: #000;
  font-weight: bold;
}

.profile-info-other .content a svg {
  margin-right: 5px;
}

.profile-info-other .content a {
  font-size: 16px;
  text-decoration: underline;
  display: inline-flex;
  margin-top: 3px;
}

.profile-info-other .badge {
  font-size: 14px !important;
}

.profile-content {
  color: #000;
}

.profile .box-shadow-none {
  box-shadow: none !important;
}

.profile .data-table-container .container-fluid {
  padding: 0px !important;
}

.media .w-img .avatar {
  width: 80px;
  height: 80px;
}

.media .w-img .avatar .avatar-title {
  font-size: 24px;
  background-color: #fff;
  border: 5px solid #3246D3;
  color: #3246D3;
  font-weight: bold;
}

.modal-loading {
  text-align: center;
  padding: 30px 20px;
  font-size: 18px;
}

.modal-content .close {
  font-size: 16px;
  padding-top: 22px;
}

.footer-wrapper {
  text-align: center;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

#sidebar * {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.notification-icon .badge-success {
  background: #e7515a !important;
  border: none !important;
}

.notification-scroll .dropdown-item {
  margin: 0px;
  padding: 5px 10px !important;
  font-size: 12px !important;
  white-space: inherit;
  overflow-wrap: break-word;
}

.notification-time {
  float: right;
}

.navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu {
  width: 25rem !important;
}

.user-profile-dropdown .user-icon {
  color: #fff !important;
  line-height: initial !important;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.user-name {
  font-size: 18px;
  color: #fff;
  padding: 8px;
}

.job-docusign-link {
  word-break: break-all;
}

.multiselect-native-select .multiselect {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #e0e6ed;
  width: 300px;
  height: 38px;
}

.multiselect-native-select .multiselect:hover {
  transform: none !important;
}

.multiselect-native-select .multiselect .caret {
  float: right !important;
  margin-top: 9px !important;
}

span.multiselect-native-select {
  position: relative;
}

span.multiselect-native-select select {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px -1px -1px -3px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  left: 50%;
  top: 30px;
}

.multiselect-container {
  position: absolute !important;
  list-style-type: none;
  transform: none !important;
  margin: 0;
  padding: 0;
  left: 0 !important;
  top: 40px !important;
  width: 300px !important;
}

.multiselect-container .input-group {
  margin: 5px;
}

.multiselect-container > li {
  padding: 0;
}

.multiselect-container > li > a.multiselect-all label {
  font-weight: 700;
}

.multiselect-container > li.multiselect-group label {
  margin: 0;
  padding: 3px 20px 3px 20px;
  height: 100%;
  font-weight: 700;
}

.multiselect-container > li.multiselect-group-clickable label {
  cursor: pointer;
}

.multiselect-container > li > a {
  padding: 0;
}

.multiselect-container > li > a > label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: 400;
  padding: 3px 0 3px 10px;
  font-size: 14px;
  color: #3b3f5c !important;
  line-height: 22px;
}

.multiselect-container > li > a > label.radio,
.multiselect-container > li > a > label.checkbox {
  margin: 0;
}

.multiselect-container > li > a > label > input[type=checkbox] {
  margin-bottom: 5px;
}

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
  padding: 3px 20px 3px 40px;
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio] {
  margin-left: -20px;
  margin-right: 0;
}

.map-main-div {
  position: relative;
}

.loaction-not-found {
  position: absolute;
  z-index: 9;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  font-size: 26px;
  padding-top: 25%;
}

.job-import-table-error tr th {
  padding: 8px;
  font-size: 12px !important;
  line-height: 12px !important;
  margin: 0px;
  color: #000;
}

.job-import-table-error tr td {
  padding: 8px;
  font-size: 12px !important;
  line-height: 12px !important;
  margin: 0px;
  color: #000 !important;
}

.job-import-table-error ul {
  padding: 0;
  margin: 0;
}

.job-import-table-error ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 5px 0px;
}

.dropdown:not(.custom-dropdown-icon) .dropdown-menu {
  padding: 5px !important;
}

.dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item {
  padding: 5px 5px !important;
}

.table-hover:not(.table-dark) tbody tr:hover {
  transform: unset !important;
}

.sidebar-wrapper {
  top: 54px;
  left: 0px;
  background-color: #fff;
}

.header-container {
  border-bottom: 0px;
}

.navbar {
  background: #fff;
  color: #3246d3;
}

.navbar .theme-brand li.theme-text a,
.user-profile-dropdown .user-icon,
.user-name {
  color: #000 !important;
}

.sub-header-container {
  position: unset;
  /* top: 53px; */
  width: 100%;
  /* z-index: 1029; */
  /* display: flex; */
}

#content {
  position: relative;
  width: 50%;
  flex-grow: 8;
  margin-top: 60px;
  margin-bottom: 0;
  /* margin-left: 200px; */
  transition: 0.6s;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff !important;
  background: #3246d3 !important;
}

::selection {
  color: #fff !important;
  background: #3246d3 !important;
}

/* Ui changes */
.custom-breadcrumbs {
  min-height: auto !important;
}
.custom-breadcrumbs .navbar {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0px !important;
  margin: 10px 0px 0px 0px !important;
  min-height: auto !important;
}

#sidebar ul.menu-categories.ps {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#sidebar ul.menu-categories li.menu > .dropdown-toggle[data-active=true] {
  box-shadow: none !important;
  background: #3246D3;
}
#sidebar ul.menu-categories li.menu > .dropdown-toggle[data-active=true] svg {
  color: #fff !important;
}
#sidebar ul.menu-categories li.menu > .dropdown-toggle[data-active=true] span {
  color: #fff !important;
}

#sidebar ul.menu-categories li.menu > .dropdown-toggle[aria-expanded=true]:not([data-active=true]) {
  box-shadow: none !important;
  background: #3246D3;
}
#sidebar ul.menu-categories li.menu > .dropdown-toggle[aria-expanded=true]:not([data-active=true]) svg {
  color: #fff !important;
}
#sidebar ul.menu-categories li.menu > .dropdown-toggle[aria-expanded=true]:not([data-active=true]) span {
  color: #fff !important;
}

#sidebar ul.menu-categories li.menu > .dropdown-toggle:hover,
#sidebar ul.menu-categories li.menu > .dropdown-toggle.dropdown-toggle:not([data-active=true]):not([aria-expanded=true]):hover {
  box-shadow: none !important;
  background: #3246D3;
}
#sidebar ul.menu-categories li.menu > .dropdown-toggle:hover svg,
#sidebar ul.menu-categories li.menu > .dropdown-toggle.dropdown-toggle:not([data-active=true]):not([aria-expanded=true]):hover svg {
  color: #fff !important;
}
#sidebar ul.menu-categories li.menu > .dropdown-toggle:hover span,
#sidebar ul.menu-categories li.menu > .dropdown-toggle.dropdown-toggle:not([data-active=true]):not([aria-expanded=true]):hover span {
  color: #fff !important;
}

#dataTable_wrapper table.dataTable {
  margin-bottom: 10px !important;
}
#dataTable_wrapper{
  padding-left: 0px;
  padding-right: 0px;
}
.table-responsive{
/*  overflow: hidden !important;*/
overflow: visible !important;
}
.pagination>.active{
  padding-top: 1px;
}

div.dataTables_wrapper div.dataTables_paginate {
  float: right;
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting {
  padding-right: 7px !important;
}

.table_profile_image {
  width: 50px !important;
  height: 50px !important;
  border-radius: 5px !important;
}

.custom-dropdown .dropdown-menu {
  top: 0px !important;
}

.dropup,
.dropdown {
  display: inline;
}

.custom-file-label {
  height: auto;
  border: 1px solid auto;
  color: #3b3f5c;
  font-size: 15px;
  padding: 8px 10px;
  letter-spacing: 1px;
  background-color: unset !important;
}

.custom-file-label::after {
  color: #fff !important;
  background-color: #3246d3;
}

.widget-content-area {
  padding: 10px !important;
}

.custom-datatable-filter {
  border: 0px !important;
  padding: unset !important;
  margin-bottom: 0px !important;
}

.map-block {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.media .w-img .avatar {
  width: 60px;
  height: 60px;
}

.media .w-img .avatar .avatar-title {
  font-size: 18px;
  background-color: #fff;
  border: 4px solid #3246D3;
  color: #3246D3;
  font-weight: bold;
}

.new-control.new-checkbox .new-control-indicator {
  top: 0;
  height: 22px;
  width: 22px;
  border-radius: unset !important;
}

.new-control.new-checkbox .new-control-indicator {
  height: 20px !important;
  width: 20px !important;
  border: 1px solid;
}

.table-responsive {
  min-height: 400px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.dashboard-card-border-right-none {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dashboard-card-border-left-none {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.dashboard-card-lable:hover {
  transform: inherit;
}
.textarea-height{
  height:  125px !important;
}
.tox-tinymce {
   height: 290px!important;
}
.view-icon{
  background-color: #805dca;
  box-shadow: 0 10px 20px -8px #805dca;
  border-radius: 50%;
  color: white;
}

.auction_background{
    background-image: url('../images/auction-bg.png');
    background-size: 100% 100%;
    background-position: center center;
}
.auction-heading h1{
    font-size: 30px;
    color: white;
}
.main-content-auction{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.auction-footer{
    position: fixed;
    bottom: 0px;
    padding: 8px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}
.auction-fixed{
/*    background-color: rgba(0, 0, 0, 0.5);*/
}
.font-size-18{
    font-size: 22px;
    color: white;
}